<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    <section name="CacheProvider" type="YGJJ.Core.Cache.CacheProviderSection, YGJJ.Core.Cache"/>
  </configSections>
  <CacheProvider defaultProvider="RedisProvider">
    <providers>
      <add name="RedisProvider" type="YGJJ.Core.Cache.RedisProvider, YGJJ.Core.Cache"/>
    </providers>
  </CacheProvider>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="CrawlerEntities" connectionString="metadata=res://*/Crawler.csdl|res://*/Crawler.ssdl|res://*/Crawler.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Crawler;persist security info=True;user id=sa;password=ewpsa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="CrawlerEntities" connectionString="metadata=res://*/Crawler.csdl|res://*/Crawler.ssdl|res://*/Crawler.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.206.1;initial catalog=Crawler;persist security info=True;user id=sa;password=ewpsa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <appSettings>
    <!--<add key="QueueName" value="FormatName:Direct=TCP:192.168.1.221\private$\oauthqueue"/>-->
    <!--消息队列-->
    <add key="SMSQueue" value=".\private$\smsqueue"/>
    <!--redis地址-->
    <add key="Redis.ReadWriteHosts" value="127.0.0.1:6379"/>
    <add key="Redis.ReadOnlyHosts" value="127.0.0.1:6379"/>
  </appSettings>
</configuration>
